<section>
    <div class="container sectionspc">
        <div class="hpanel forum-box">

            @*<h3 class="font-bold"></h3>*@

            <div class="row product-container">
                <div class="col-lg-4 col-sm-6">
                    <div class="hpanel">
                        <div class="panel-body no-padding">
                            <div class="entry-thumbnail"> <img src="@Url.Content("~/images/Brand/acer.jpg")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h3>Brand Title</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                <h4 class="text-success"> no.of items 1 206,40</h4>
                                <div class="btn btn-default btn-sm">4.4 <i class="fa fa-star" aria-hidden="true"></i> (78)</div>
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="btn btn-success btn-sm pull-right">Acer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="hpanel">
                        <div class="panel-body no-padding">
                            <div class="entry-thumbnail"> <img src="@Url.Content("~/images/Brand/asus.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h3>Brand Title</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                <h4 class="text-success"> no.of items 1 206,40</h4>
                                <div class="btn btn-default btn-sm">4.4 <i class="fa fa-star" aria-hidden="true"></i> (78)</div>
                                <button type="button"  onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="btn btn-success btn-sm pull-right">HP</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="hpanel">
                        <div class="panel-body no-padding">
                            <div class="entry-thumbnail"> <img src="@Url.Content("~/images/Brand/dell.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h3>Brand Title</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                <h4 class="text-success"> no.of items 1 206,40</h4>
                                <div class="btn btn-default btn-sm">4.4 <i class="fa fa-star" aria-hidden="true"></i> (78)</div>
                                <button type="button"  onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="btn btn-success btn-sm pull-right">Samsung</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row product-container">
                <div class="col-lg-4 col-sm-6">
                    <div class="hpanel">
                        <div class="panel-body no-padding">
                            <div class="entry-thumbnail"> <img src="@Url.Content("~/images/Brand/HP.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h3>Brand Title</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                <h4 class="text-success"> no.of items 1 206,40</h4>
                                <div class="btn btn-default btn-sm">4.4 <i class="fa fa-star" aria-hidden="true"></i> (78)</div>
                                <button type="button"  onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="btn btn-success btn-sm pull-right">ASUS</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="hpanel">
                        <div class="panel-body no-padding">
                            <div class="entry-thumbnail"> <img src="@Url.Content("~/images/Brand/leno.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h3>Brand Title</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                <h4 class="text-success"> no.of items 1 206,40</h4>
                                <div class="btn btn-default btn-sm">4.4 <i class="fa fa-star" aria-hidden="true"></i> (78)</div>
                                <button type="button"  onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="btn btn-success btn-sm pull-right">Dell</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="hpanel">
                        <div class="panel-body no-padding">
                            <div class="entry-thumbnail"> <img src="@Url.Content("~/images/Brand/samsung.jpg")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h3>Brand Title</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                <h4 class="text-success"> no.of items 1 206,40</h4>
                                <div class="btn btn-default btn-sm">4.4 <i class="fa fa-star" aria-hidden="true"></i> (78)</div>
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="buynow btn btn-success btn-sm pull-right">Lenovo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div></div>
        </div>



    </div>
</section>
<script>
    $('button .buynow').click(function () {
        window.location.href = '@Url.Action("Detail", "Product")';
    })
</script>