

@{
    ViewBag.Title = "Computer Web Shop | Brand Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int brandId = ViewBag.Id;
}

@section headerSection {
    @Html.Partial("_LayoutProductHeader")

}
<link href="@Url.Content("~/styles/slider.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/bootstrap-slider.js")"></script>
<style>

    .board {
        background-color: #524757;
        color: white;
        height: 100%;
        padding: 10px;
    }
       </style>
<section>
    <div class="container">
        <div class="col-md-4 col-sm-4">
            <div class="seller-leftbox text-center">
                <b>Kr 100</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="100" data-slider-max="100000" data-slider-step="5" data-slider-value="[250,450]" /> <b>Kr 100000</b>
            </div>
        </div>

        <div class="col-md-8 col-sm-8  no-padding">
            <div class="col-md-12 col-sm-6 no-padding" >
                @*<img src="@Url.Content("~/images/sam-small.png")" class="img-responsive">*@
                <div class="col-md-4  no-padding">

                        <div class="board"><h1 class="h1-responsive" style="color:white" id="txtBrandName"> </h1></div>

                </div>
               
            </div>
            <div class="row product-container">
                <div class="col-lg-6 col-sm-8">
                    <div class="hpanel">
                        <div class="panel-body no-padding poluritm">
                            <div class="entry-thumbnailsmall" style="cursor:pointer;" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");"> <img src="@Url.Content("~/images/pro2.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail" >
                                <h4>Item Title</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="row" style="padding-left: 0px !important;">
                                    <div class="col-md-5">
                                        <h3 class="no-margins text-success"> $1 206,40</h3>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="btn btn-success btn-sm pull-right">Köp</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-8">
                    <div class="hpanel">
                        <div class="panel-body no-padding poluritm">
                            <div class="entry-thumbnailsmall" style="cursor:pointer;" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");"> <img src="@Url.Content("~/images/pro2.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h4>Item Title</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="row" style="padding-left: 0px !important;">
                                    <div class="col-md-5">
                                        <h3 class="no-margins text-success"> $1 206,40</h3>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="btn btn-success btn-sm pull-right">Köp</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-8">
                    <div class="hpanel">
                        <div class="panel-body no-padding poluritm">
                            <div class="entry-thumbnailsmall" style="cursor:pointer;" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");"> <img src="@Url.Content("~/images/pro2.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h4>Item Title</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="row" style="padding-left: 0px !important;">
                                    <div class="col-md-5">
                                        <h3 class="no-margins text-success"> $1 206,40</h3>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="btn btn-success btn-sm pull-right">Köp</button>
                                    </div>

                                </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-8">
                    <div class="hpanel">
                        <div class="panel-body no-padding poluritm">
                            <div class="entry-thumbnailsmall" style="cursor:pointer;" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");"> <img src="@Url.Content("~/images/pro2.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail" >
                                <h4>Item Title</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="row" style="padding-left: 0px !important;">
                                    <div class="col-md-5">
                                        <h3 class="no-margins text-success"> $1 206,40</h3>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="btn btn-success btn-sm pull-right">Köp</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        $("#ex2").slider({});

        switch (@brandId) {
            case 1:
                $("#txtBrandName").text("Acer");
                break;
            case 2:
                $("#txtBrandName").text("Samsung");
                break;
            case 3:
                $("#txtBrandName").text("Lenovo");
                break;
            case 4:
                $("#txtBrandName").text("HP");
                break;
            case 5:
                $("#txtBrandName").text("Dell");
                break;
            case 6:
                $("#txtBrandName").text("Asus");
                break;
            default:
                $("#txtBrandName").text("Dell");
        }
    });


</script>