@model CategoryViewModel

@{
    ViewBag.Title = "Computer Web Shop | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerSection {
    @Html.Partial("_LayoutHeader")
}

@Html.Partial("_Search")

<section>
    <div class="container sectionspc">
        <div class="hpanel forum-box">
            <div class="row product-container">
                @foreach (Category category in Model.Categories)
                {
                    <div class="col-lg-4 col-sm-6">
                        <div class="hpanel">
                            <div class="panel-body no-padding">
                                <div class="entry-thumbnail">
                                    <a href="/Product/BrandItems/@category.CategoryId">
                                        <img src="@category.BrandUrl" class="img-responsive" alt="">
                                     </a>
                                </div>
                                <div class="p-sm productdetail">
                                    <h3>@category.Name</h3>
                                    <p>@category.Description </p>
                                    @*<h4 class="text-success"> no.of items 1 206,40</h4>*@
                                    <div class="btn btn-sm">@*4.4 <i class="fa fa-star" aria-hidden="true"></i> (78)*@</div>
                                    <button type="button" onclick="@("window.location.href='/Product/BrandItems/")@category.CategoryId'" class="btn btn-success btn-sm pull-right">@category.Name</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                }
                </div>
        </div>
    </div>
</section>


